.DS_Store
/Amstrad_CPC_Keyboard/CPC6128/Amstrad_CPC6128_Keyboard-backups
Amstrad_CPC_Keyboard/CPC6128/fp-info-cache
Amstrad_CPC_Keyboard/CPC6128/Amstrad_CPC6128_Keyboard.kicad_prl
/Amstrad_CPC_Keyboard/CPC6128/Tactile/Amstrad_CPC6128_Keyboard-backups
Amstrad_CPC_Keyboard/CPC6128/Tactile/fp-info-cache
Amstrad_CPC_Keyboard/CPC6128/Tactile/Amstrad_CPC6128_Keyboard.kicad_prl
