.DS_Store
/Amstrad_CPC_Keyboard/CPC6128/Amstrad_CPC6128_Keyboard-backups
Amstrad_CPC_Keyboard/CPC6128/fp-info-cache
Amstrad_CPC_Keyboard/CPC6128/Amstrad_CPC6128_Keyboard.kicad_prl
/Amstrad_CPC_Keyboard/CPC6128/Tactile/Amstrad_CPC6128_Keyboard-backups
Amstrad_CPC_Keyboard/CPC6128/Tactile/fp-info-cache
Amstrad_CPC_Keyboard/CPC6128/Tactile/Amstrad_CPC6128_Keyboard.kicad_prl
CPC_PICOROM_PLUS/Hardware/Kicad/fp-info-cache
*.kicad_prl
/Amstrad_CPC_Keyboard/CPC6128/Tactile_12mm/Amstrad_Tactile-12mm_Keyboard-backups
/Amstrad_CPC_Keyboard/CPC6128/Tactile_6mm/Amstrad_Tactile-6mm_Keyboard-backups
Amstrad_CPC_Keyboard/CPC6128/Tactile_6mm/fp-info-cache
/Keyboard_Connectors/CP002_TFC/CP002_TFC-backups
Keyboard_Connectors/CP002_TFC/fp-info-cache
/Keyboard_Connectors/CP003_TFC/CP003_TFC-backups
Keyboard_Connectors/CP003_TFC/fp-info-cache
Amstrad_CPC_Keyboard/CPC6128/Tactile_12mm/fp-info-cache
/Keyboard_Connectors/CPC664_TFC/CPC664_TFC-backups
/CPC_PICOROM_PLUS/Hardware/Kicad/CPC_PICOROM_PLUS-backups
/CPC_Plus_Floppy_Adaptor/CPC_Plus_Floppy_Adaptor-backups
*.bak
CPC_Plus_Floppy_Adaptor/fp-info-cache
Keyboard_Connectors/CPC664_TFC/fp-info-cache
CPC464_Dual_ROM/fp-info-cache
/CPC464_Dual_ROM/CPC464_Dual_ROM-backups
VGA4CPC_Brett/fp-info-cache
/VGA4CPC_Brett/VGA4CPC_Brett-backups
/VGA4CPC_Brett/RevB/VGA4CPC_Brett-backups
VGA4CPC_Brett/RevB/fp-info-cache
VGA4CPC_Brett/RevC/fp-info-cache
/VGA4CPC_Brett/RevC/VGA4CPC_Brett_RevC-backups
VGA4CPC_Brett/RevD/fp-info-cache
/VGA4CPC_Brett/RevD/VGA4CPC_Brett_RevD-backups
/VGA4CPC_Brett/RevB/VGA4CPC_Brett_RevB-backups
CPC_DIN-to-VGA/fp-info-cache
/CPC_DIN-to-VGA/CPC_DIN-to-VGA-backups
VGA4CPC_Brett/RevE/fp-info-cache
/VGA4CPC_Brett/RevE/VGA4CPC_Brett_RevE-backups
Gate_Array_Breakout/Gate_Array_40007_Breakout/fp-info-cache
/Gate_Array_Breakout/Gate_Array_40007_Breakout/Gate_Array_40007_Breakout-backups
/VGA4CPC_Brett/Comparator_Board/Comparator_Board-backups
VGA4CPC_Brett/Comparator_Board/fp-info-cache
VGA4CPC_Brett/RevF/fp-info-cache
VGA4CPC_Brett/RevF/fp-info-cache
VGA4CPC_Brett/RevF/fp-info-cache
/VGA4CPC_Brett/RevF/VGA4CPC_Brett_RevF-backups
/VGA4CPC_Brett/RevF/VGA4CPC_Brett_RevF-backups
VGA4CPC_Brett/RevF/fp-info-cache
*.zip
Amstrad_CPC_Keyboard/CPC464_CPC664/fp-info-cache
