.DS_Store
/Amstrad_CPC_Keyboard/CPC6128/Amstrad_CPC6128_Keyboard-backups
Amstrad_CPC_Keyboard/CPC6128/fp-info-cache
Amstrad_CPC_Keyboard/CPC6128/Amstrad_CPC6128_Keyboard.kicad_prl
/Amstrad_CPC_Keyboard/CPC6128/Tactile/Amstrad_CPC6128_Keyboard-backups
Amstrad_CPC_Keyboard/CPC6128/Tactile/fp-info-cache
Amstrad_CPC_Keyboard/CPC6128/Tactile/Amstrad_CPC6128_Keyboard.kicad_prl
CPC_PICOROM_PLUS/Hardware/Kicad/fp-info-cache
*.kicad_prl
/Amstrad_CPC_Keyboard/CPC6128/Tactile_12mm/Amstrad_Tactile-12mm_Keyboard-backups
/Amstrad_CPC_Keyboard/CPC6128/Tactile_6mm/Amstrad_Tactile-6mm_Keyboard-backups
Amstrad_CPC_Keyboard/CPC6128/Tactile_6mm/fp-info-cache
/Keyboard_Connectors/CP002_TFC/CP002_TFC-backups
Keyboard_Connectors/CP002_TFC/fp-info-cache
/Keyboard_Connectors/CP003_TFC/CP003_TFC-backups
Keyboard_Connectors/CP003_TFC/fp-info-cache
Amstrad_CPC_Keyboard/CPC6128/Tactile_12mm/fp-info-cache
/Keyboard_Connectors/CPC664_TFC/CPC664_TFC-backups
